@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #2d2f34;
    font-family: "Poppins";

}

li, a, button{
    font-size: 18px;
    color: white;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background-color: #202022;

}

.logotipo{
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: bold;
}

.nav-links{
    list-style: none;
}

.nav-links li{
display: inline-block;
padding: 0px 20px;
}

.nav-links li a:hover{
color: #6090d7;
}

button{
    padding: 10px 15px;
    background-color: #4771b0;
    border:none;
    border-radius: 60px;
    cursor: pointer;
}

button:hover{
    background-color: #39619C;
}

@media (max-width: 800px){
    li, a, button{
    font-size: 12px;
    }

    .logotipo{
    font-size: 22px; 
    }
}

.em-desenvolvimento {
  height: calc(100vh - 80px); /* ajusta se o header tiver outra altura */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  opacity: 0.9;
}

.em-desenvolvimento h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.em-desenvolvimento p {
  font-size: 1.1rem;
  color: #bdbdbd;
}
